<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/student/global.css">
    <link rel="stylesheet" href="../../style/student/applications.css">
    <title>Назначенные экзамены</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <a class="header__logo" href="/user/profile">
                    <img class="header__logo-img" src="../../pictures/logo.svg" alt="Logo" />
                    <div class="header__logo-text__container">
                        <h2 class="header__logo-text">Аттестация переводчиков русского жестового языка</h2>
                    </div>
                </a>
                <input type="checkbox" id="menu-toggle" class="header__menu-toggle">
                <label for="menu-toggle" class="header__menu-icon">
                    <span></span>
                </label>

                <div class="header__profile">
                    <div class="header__profile-info">
                        <div class="header__status">
                            <h2>Статус:</h2>
                            {{if or (eq .status "pending") (eq .status "")}}
                            <h2 class="header__status-text header__status-text--inactive">Не подтвержден</h2>
                            <a href="#" class="header__status-button popup__link" name="aplication_form">Подтвердить</a>
                            {{end}}
                            {{if eq .status "declined"}}
                            <a href="#" class="header__status-button aproove_form" name="aproove_form">Отказ</a>
                            <a href="#" class="header__status-button popup__link" name="aplication_form">Подтвердить</a>
                            {{end}}
                            {{if eq .status "approved"}}
                            <h2 class="header__status-text header__status-text--active">Подтвержден</h2>
                            {{end}}
                        </div>
                        <div class="header__role">
                            <h2>Роль:</h2>
                            {{if eq .role "student"}}
                            <h2 class="header__role-text header__role-text--student">Аттестуемый</h2>
                            {{else if eq .role "examiner"}}
                            <h2 class="header__role-text header__role-text--examiner">Экзаменатор</h2>
                            {{end}}
                        </div>
                    </div>
                    <img class="header__profile-avatar"
                        src="{{if .avatar}}{{.avatar}}{{else}}../pictures/Generic avatar.png{{end}}"
                        alt="Profile Avatar">
                </div>
            </div>
        </header>

        <main class="main main--admin">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item {{if eq .path " /user/profile"}}menu__item--active{{end}}">
                        <a href="/user/profile" class="menu__button">Личные данные</a>
                    </li>
                    <li class="menu__item {{if eq .path " /user/document"}}menu__item--active{{end}}">
                        <a href="/user/document" class="menu__button">Документы</a>
                    </li>
                    {{if or (eq .status "pending") (eq .status "") (eq .status "declined")}}
                    <li class="menu__item menu__item--disabled">
                        <a href="#" class="menu__button popup__link" name="aplication_form">Мои заявления</a>
                    </li>
                    {{end}}

                    {{if eq .status "approved"}}
                    <li class="menu__item {{if eq .path " /user/application"}}menu__item--active{{end}}">
                        <a href="/user/application" class="menu__button">Мои заявления</a>
                    </li>
                    {{end}}
                    <li class="menu__item menu__item--active">
                        <a href="/user/exams" class="menu__button">Назначенные экзамены</a>
                    </li>
                    <li class="menu__item {{if eq .path " /user/settings"}}menu__item--active{{end}}">
                        <a href="/user/settings" class="menu__button">Настройки</a>
                    </li>
                </ul>
            </nav>

            <section class="profile">
                <div class="profile__body">
                    <div class="profile__application-list">
                        {{if .Exams}}
                        {{range .Exams}}
                        <div class="profile__application-item profile__application-item--active">
                            <h2 class="profile__application-text">Экзамен от {{.Date}}</h2>
                            <div class="profile__application-info">
                                {{if eq $.role "examiner"}}
                                <a href="/user/exam/{{.ID}}" class="profile__application-link">Посмотреть экзамен</a>
                                <button class="start-exam-btn" data-exam-id="{{.ID}}">Перейти к экзамену</button>
                                {{end}}
                                {{if eq $.role "student"}}
                                <a href="/user/exam/{{.ID}}" class="profile__application-link">Посмотреть экзамен</a>
                                {{end}}
                                <h2 class="profile__application-text">Дата экзамена:</h2>
                                <h2 class="profile__application-date">{{.Date}}</h2>
                            </div>
                        </div>
                        {{end}}
                        {{else}}
                        <div class="profile__application-item">
                            <h2 class="profile__application-text">Назначенные экзамены не найдены</h2>
                        </div>
                        {{end}}
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer"></footer>
    </div>
    <div id="custom-alert" class="custom-alert hidden"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
    <script src="../../scripts/student_script.js"></script>
    <script src="../../scripts/socket.js"></script>
</body>

</html>