# Игнорируем временные файлы среды разработки
.idea/
.vscode/

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем Golang зависимости
/vendor/
/bin/
/dist/

# Логи
*.log

# Конфиги
.env
.env.*

# Загрузки пользователей и архивы
/uploads/
/archive/

# Системные файлы Go
*.exe
*.dll
*.so
*.dylib
*.test

# Кэш Go
/tmp/
*.out
