<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../style/style.css">
    <link rel="stylesheet" href="../../../../style/admin/exam_procedure.css">
    <title>Оценочный лист</title>
</head>

<body data-role="{{.role}}" data-id="{{.id}}" data-name="{{.name}}" data-exam-id="{{.exam_id}}"
    data-student-id="{{.student_id}}">
    <div class="wrapper">
        <main class="main main--exam">
            <section class="exam__window">
                <div class="exam__header">
                    <h2>Оценочный лист</h2>
                    <div class="exam__protocol">
                        <div class="exam__protocol-column">
                            <label for="protocol_num">К Протоколу №</label>
                            <input type="text" placeholder="__-__-__" name="protocol_num" id="protocol_num"
                                inputmode="text" readonly value="{{.protocol}}">
                        </div>
                        <div class="exam__protocol-column">
                            <label for="protocol_date">от</label>
                            <input type="date" name="" id="protocol_date" readonly value="{{.CurrentDate}}">
                        </div>
                    </div>
                </div>
                <div class="exam__body">
                    <div class="exam__person" data-id="{{.student_id}}">
                        <div class="exam__person-info">
                            <div class="exam__person-placeholder">
                                <label>Аттестуемый:</label>
                                <input type="text" id="person_fio" value="{{.name}}" readonly>
                            </div>
                            <div class="exam__person-placeholder">
                                <label>Запрашиваемая квалификация:</label>
                                <input type="text" id="person_quality" readonly value="{{.Qualification}}">
                            </div>
                            <div class="exam__person-placeholder">
                                <label>Заявленная специализация:</label>
                                <input type="text" id="person_special" readonly value="{{.Specialization}}">
                            </div>
                        </div>
                        <div class="exam__person-result">
                            <h2 class="exam__question-text">Всего баллов за экзамен:</h2>
                            <input type="text" readonly id="total">
                        </div>
                        <div class="exam__person-img">
                            <img src="{{.Avatar}}" alt="Аватар студента">
                        </div>
                    </div>
                    <div class="exam__question">
                        <table class="exam__question-table">
                            <thead>
                                <tr>
                                    <th>№ п/п</th>
                                    <th>Показатель (критерий оценки)</th>
                                    <th colspan="6">Баллы</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>0</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range $index, $criterion := .criteria}}
                                <tr class="exam__question-row">
                                    <td class="exam__question-marks">{{$index | add1}}</td>
                                    <td class="exam__question-text">{{$criterion.question}}</td>
                                    {{range $score := slice 0 1 2 3 4 5}}
                                    <td class="exam__question-marks">
                                        <input type="radio" name="q{{$criterion.id}}" value="{{$score}}"
                                            id="q{{$criterion.id}}-{{$score}}" hidden>
                                        <div class="exam__radio-label" data-radio-for="q{{$criterion.id}}-{{$score}}">
                                        </div>
                                    </td>
                                    {{end}}
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                    <div class="exam__recomendation">
                        <h2>Рекомендации:</h2>
                        <textarea class="exam__textarea exam__textarea-auto_expand" rows="1"
                            oninput="adjustHeight(this)" name="recomendation" id="recomendation"></textarea>
                    </div>
                    <div class="exam__solution">
                        <h1>Решение о присвоении квалификации:</h1>
                        <div class="exam__solution-qualification">
                            <h2>Присваиваемая квалификация:</h2>
                            <select class="profile__selector" name="qualification" id="qualification">
                                <option value="03.01600.01">03.01600.01 Переводчик русского жестового языка III
                                    категории (5 уровень квалификации)</option>
                                <option value="03.01600.02">03.01600.02 Переводчик русского жестового языка — синхронист
                                    II категории (6 уровень квалификации)</option>
                                <option value="03.01600.03">03.01600.03 Переводчик русского жестового языка I категории
                                    (6 уровень квалификации)</option>
                                <option value="03.01600.04">03.01600.04 Переводчик русского жестового языка высшей
                                    категории — эксперт (7 уровень квалификации)</option>
                            </select>
                        </div>
                        <div class="exam__solution-specialization">
                            <h2>Допуск (Специализация):</h2>
                            <select name="specialization" id="specialization">
                                <option value="медицинское сопровождение">медицинское сопровождение</option>
                                <option value="образование">образование</option>
                            </select>

                            <div class="exam__buttons">
                                <div class="exam__buttons-abstain">
                                    <input type="checkbox" id="exam__abstain">
                                    <label for="exam__abstain">Воздержаться</label>
                                </div>
                                <button class="exam__buttons-subscribe" id="subscribe_button">Подписать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer"></footer>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
<script src="../../../../scripts/exam.js"></script>
<script src="../../../../scripts/socket.js"></script>

</html>