<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../style/style.css">
    <link rel="stylesheet" href="../../../style/admin/global.css">
    <link rel="stylesheet" href="../../../style/student/main_page.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <a class="header__logo" href="/">
                    <img class="header__logo-img" src="../../../pictures/logo.svg" alt="Logo" />
                    <div class="header__logo-text__container">
                        <h2 class="header__logo-text">Аттестация переводчиков русского жестового языка</h2>
                    </div>
                </a>
                <input type="checkbox" id="menu-toggle" class="header__menu-toggle">
                <label for="menu-toggle" class="header__menu-icon">
                    <span></span>
                </label>

                <div class="header__profile">
                    <div class="header__profile-info">
                        <div class="header__status">
                            <h2>Статус:</h2>
                            {{if or (eq .status "pending") (eq .status "")}}
                            <h2 class="header__status-text header__status-text--inactive">Не подтвержден</h2>
                            {{end}}
                            {{if eq .status "approved"}}
                            <h2 class="header__status-text header__status-text--active">Подтвержден</h2>
                            {{end}}
                        </div>
                        <div class="header__role">
                            <h2>Роль:</h2>
                            <select class="header__role-text header__role-text--student" id="role-select">
                                <option value="student">Аттестуемый</option>
                                <option value="examiner">Экзаменатор</option>
                            </select>
                        </div>
                    </div>
                    <img class="header__profile-avatar" src="{{if .avatar}}{{.avatar}}{{else}}../../../pictures/Generic avatar.png{{end}}" alt="Profile Avatar">
                </div>
            </div>
        </header>

        <main class="main">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item menu__item--active">
                        <a href="/student/show/:id" class="menu__button">Личные данные</a>
                    </li>
                    <li class="menu__item">
                        <a href="/student/show/document/:id" type="button" class="menu__button">Документы</a>
                    </li>
                </ul>
            </nav>

            <section class="profile">
                <div class="profile__body">
                    <div class="profile__header">
                        <img class="profile__avatar" src="{{if .avatar}}{{.avatar}}{{else}}../../../pictures/Generic avatar.png{{end}}" alt="User Avatar">
                    </div>
                    <div class="profile__form">
                        <div class="profile__table">
                            <div class="profile__row">
                                <div class="profile__column">
                                    <!--pass-->
                                </div>
                                <div class="profile__column">
                                    <label class="profile__label" for="ip">Именит. падеж:</label>
                                </div>
                                <div class="profile__column">
                                    <label class="profile__label" for="rp">Родит. падеж:</label>
                                </div>
                                <div class="profile__column">
                                    <label class="profile__label" for="dp">Дател. падеж:</label>
                                </div>
                            </div>
                            <div class="profile__row">
                                <div class="profile__column">
                                    <label class="profile__label" for="surname">Фамилия:</label>
                                </div>
                                <div class="profile__column">
                                    <input class="profile__input" type="text" value="{{.surname_in_ip}}" id="surname_in_ip" readonly>
                                </div>
                                <div class="profile__column">
                                    <input class="profile__input" type="text" value="{{.surname_in_rp}}" id="surname_in_rp" readonly>
                                </div>
                                <div class="profile__column">
                                    <input class="profile__input" type="text" value="{{.surname_in_dp}}" id="surname_in_dp" readonly>
                                </div>
                            </div>
                            <div class="profile__row">
                                <div class="profile__column">
                                    <label class="profile__label" for="name">Имя:</label>
                                </div>
                                <div class="profile__column">
                                    <input class="profile__input" type="text" value="{{.name_in_ip}}" id="name_in_ip" readonly>
                                </div>
                                <div class="profile__column">
                                    <input class="profile__input" type="text" value="{{.name_in_rp}}" id="name_in_rp" readonly>
                                </div>
                                <div class="profile__column">
                                    <input class="profile__input" type="text" value="{{.name_in_dp}}" id="name_in_dp" readonly>
                                </div>
                            </div>
                            <div class="profile__row">
                                <div class="profile__column">
                                    <label class="profile__label" for="lastname">Отчество:</label>
                                </div>
                                <div class="profile__column">
                                    <input class="profile__input" value="{{.lastname_in_ip}}" type="text" id="lastname_in_ip" readonly>
                                </div>
                                <div class="profile__column">
                                    <input class="profile__input" value="{{.lastname_in_rp}}" type="text" id="lastname_in_rp" readonly>
                                </div>
                                <div class="profile__column">
                                    <input class="profile__input" value="{{.lastname_in_dp}}" type="text" id="lastname_in_dp" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="profile__filler">
                            <div class="profile__filler-column">
                                <label class="profile__label" for="sex">Пол:</label>
                                <div class="profile__radio">
                                    <div class="profile__radio-button">
                                        {{if eq .sex "male"}}
                                        <input type="radio" class="profile__input--radio" id="male" disabled checked name="sex">
                                        <label for="male">Мужской</label>
                                        {{end}}
                                        {{if ne .sex "male"}}
                                        <input type="radio" class="profile__input--radio" disabled id="male" name="sex">
                                        <label for="male">Мужской</label>
                                        {{end}}
                                    </div>
                                    <div class="profile__radio-button">
                                        {{if eq .sex "female"}}
                                        <input type="radio" class="profile__input--radio" disabled id="female" checked
                                            name="sex">
                                        <label for="female">Женский</label>
                                        {{end}}
                                        {{if ne .sex "female"}}
                                        <input type="radio" class="profile__input--radio" disabled id="female" name="sex">
                                        <label for="female">Женский</label>
                                        {{end}}
                                    </div>
                                </div>
                            </div>

                            <div class="profile__filler-column">
                                <label class="profile__label" for="mobile_phone">Мобильный телефон:</label>
                                <input class="profile__input mask-phone" type="tel" id="mobile_phone"
                                    placeholder="+7 (___) ___-__-__" value="{{.mobile_phone}}" readonly>
                            </div>
                            <div class="profile__filler-column">
                                <label class="profile__label" for="work_phone">Рабочий телефон:</label>
                                <input class="profile__input mask-phone" type="tel" id="work_phone"
                                    placeholder="+7 (___) ___-__-__" value="{{.work_phone}}" readonly>
                            </div>
                        </div>
                        <div class="profile__filler">
                            <div class="profile__filler-column">
                                <label class="profile__label" for="email">Электронная почта:</label>
                                <input class="profile__input" type="email" value="{{.email}}" id="email" readonly>
                            </div>
                            <div class="profile__filler-column">
                                <label class="profile__label" for="mail">Почтовый адрес:</label>
                                <input class="profile__input" type="text" value="{{.mail}}" id="mail" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                {{if .showButtons}}
                <div class="profile__decision">
                    <button type="button" class="profile__decision-button profile__decision-accept"
                        id="decision-accept">Подтвердить</button>
                    <button type="button" class="profile__decision-button profile__decision-decline"
                        id="decision-decline">Отказать</button>
                </div>
                {{end}}
            </section>
        </main>


        <footer class="footer"></footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
    <script src="../../../scripts/admin_script.js"></script>
</body>

</html>