<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style/style.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <a class="header__logo" href="/">
                    <img class="header__logo-img" src="../pictures/logo.svg" alt="Logo" />
                    <div class="header__logo-text__container">
                        <h2 class="header__logo-text">Аттестация переводчиков русского жестового языка</h2>
                    </div>
                </a>
            </div>
        </header>

        <main class="main">
            <div class="auth_form">
                <h2>Авторизация</h2>

                <div class="form__input">
                    <input class="form__input_text" type="email" id="email" placeholder=" " required>
                    <label for="email">Почта</label>
                </div>

                <div class="form__input">
                    <input class="form__input_text" type="password" id="password" placeholder=" " required>
                    <label for="password">Пароль</label>
                </div>

                <button class="form__agree_button" type="button" id="login-button">Войти</button>

                <div class="form__link_container">
                    <a href="/registration">Зарегистрироваться</a>
                </div>
            </div>
        </main>

        <footer>

        </footer>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../scripts/script.js"></script>
</html>