.main {
    max-height: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    margin-top: 0;
}

.exam {
    &__window {
        max-height: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.3);
        padding: 10px;
    }

    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;

        h2 {
            font-size: 25px;
            font-weight: bolder;
        }
    }

    &__body {
        width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 10px;

        &-center_text {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            font-weight: bold;
        }
    }

    &__start {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;

        &-button {
            background-color: #2f68d5;
            border-radius: 5px;
            padding: 10px;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin: 0px 10px;
            font-size: 18px;
        }

        &-button:hover {
            background-color: #214994;
            box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
        }
    }

    &__list {
        width: 100%;
        // height: 100%;
        margin: 0 auto;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        align-items: center;
        justify-content: space-between;

        &-name {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            img {
                height: 70px;
                width: 70px;
                border-radius: 50%;
                background-color: #2f68d5;
                margin: 0 10px;
            }

            h2 {
                font-size: 16px;
            }
        }
    }

    &__item:nth-child(even) {
        background-color: #ececec;
    }

    &__item:hover {
        border: 1px solid rgb(0, 0, 0);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    &__discuss {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;

        &-button {
            background-color: #2f68d5;
            border-radius: 5px;
            padding: 10px;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin: 0px 10px;
            font-size: 18px;
        }

        &-button:hover {
            background-color: #214994;
            box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
        }
    }

    &__protocol {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &-column {
            position: relative;
            height: 100%;
            padding: 0px 5px;
            display: flex;
            flex-direction: row;
            align-items: center;

            label {
                display: inline;
                white-space: nowrap;
                font-size: 18px;
                color: #214994;
            }

            input {
                max-width: 200px;
                width: 100%;
                border: 2px solid #dadada;
                border-radius: 5px;
                padding: 5px 7px;
                font-size: 16px;
                outline: none;
                margin: 0 10px;

                &[id="protocol_num"] {
                    width: 80px;
                }

                &[id="protocol_num"]::-webkit-inner-spin-button,
                &[id="protocol_num"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
    }

    &__person {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-img {
            position: relative;
            min-height: 80px;
            min-width: 60px;
            height: 100%;
            border: 1px solid black;
            width: auto;

            img {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 3/4;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            max-width: 50%;
            width: 100%;
            gap: 10px;
        }

        &-placeholder {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            justify-content: space-between;

            label {
                font-size: 16px;
                flex: 1;
                display: inline;
                white-space: nowrap;
            }

            input {
                max-width: 700px;
                width: 100%;
                // border: 2px solid #dadada;
                // border-radius: 5px;
                // padding: 5px 7px;
                background-color: #ececec;
                font-size: 16px;
                outline: none;
                margin: 0 10px;
            }
        }

        &-result {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            input {
                max-width: 40px;
                width: 100%;
                font-size: 18px;
                margin: 0 10px;
                text-align: center;
                font-weight: bold;
            }
        }
    }

    &__question {
        width: 100%;
        margin: 0 auto;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        &-table {
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

        &-row {
            width: 100%;

            td {
                // padding: 5px;
                border: 1px solid rgba(0, 0, 0, 0.1);

                input[type="radio"] {
                    display: none;
                    max-width: 50px;
                }

                div {
                    // max-width: 40px;
                    // border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }

                input[type="radio"] + div {
                    background: #f0f0f0;
                    padding: 10px;
                    cursor: pointer;
                    width: 100%;
                }

                input[type="radio"]:checked + div {
                    background: red;
                }
            }
        }

        &-marks {
            font-size: 16px;
            text-align: center;
            background-color: #f0f0f0;
            cursor: pointer;
            padding: 1px;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease;

            input[type="radio"]:checked + div {
                background-color: #2f68d5; /* Цвет для активного состояния */
                color: #fff;
            }
        }

        &-text {
            font-weight: bold;
        }
    }

    &__buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;

        &-abstain {
            border-radius: 5px;
            padding: 10px;
            align-items: center;
            justify-content: center;
            margin: 0px 10px;
            font-size: 18px;

            input {
                scale: (1.5);
            }
        }

        &-subscribe {
            background-color: #2f68d5;
            border-radius: 5px;
            padding: 10px;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin: 0px 10px;
            font-size: 18px;
        }

        &-subscribe:hover {
            background-color: #214994;
            box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
        }
    }

    &__recomendation {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            font-size: 16px;
        }
    }

    &__textarea {
        width: 100%;
        border: 1px solid #dadada;
        border-radius: 5px;
        padding: 5px;
        font-size: 14px;
        outline: none;
        margin: 0 10px;

        &-auto_expand {
            overflow: hidden;
            resize: none;
            width: 100%;
        }
    }

    &__solution {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;

        h1 {
            margin: 0 auto;
            font-size: 16px;
            color: #214994;
            font-weight: bold;
        }

        &-qualification {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            // justify-content: space-between;

            h2 {
                font-size: 16px;
                display: inline;
                white-space: nowrap;
            }

            select {
                border-radius: 5px;
                padding: 10px;
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.1);
            }
        }

        &-specialization {
            @extend .exam__solution-qualification;
        }
    }
}
