.main {
    position: relative;
    width: 100%;
    height: fit-content;
    flex: 1 4 auto;
    margin: auto;
    margin-top: 140px;
    max-width: 1480px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    overflow: hidden;
}

.header {
    &__menu {
        &-icon {
            display: none;
        }

        &-toggle {
            display: none;
        }
    }

    &__profile {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-avatar {
            // height: 80%;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-color: #dadada;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 80%;
            margin: 10px 20px;
        }
    }

    &__status {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
        font-weight: bold;
        width: 100%;

        &-text {
            margin: 0px 10px;

            &--active {
                color: green;
            }

            &--inactive {
                color: red;
            }
        }
    }

    &__role {
        @extend .header__status;

        h2 {
            align-self: baseline;
        }

        &-text {
            padding: 10px 15px;
            border-radius: 5px;
            margin: 0 5px;

            &--admin {
                background-color: #0f244d;
                font-weight: normal;
                color: white;
            }
            &--student {
                background-color: #f5d999;
                font-weight: normal;
            }
            &--examiner {
                background-color: #23a03c;
                font-weight: normal;
                color: white;
            }
        }
    }
}

.menu {
    height: 100%;
    width: 100%;
    flex: 1;

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    &__item {
        width: 100%;
        padding: 20px;
        border: 1px solid white;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
        background-color: white;
        cursor: pointer;
        position: relative;

        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 16px;
            cursor: pointer;
            color: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover:not(.menu__item--active) {
            background-color: #f5f5f5;
        }

        &--active {
            background-color: #2f68d5;
            border: #2f68d5;
            color: white;

            a {
                color: white;
            }
        }

        &--disabled {
            background-color: #f5f5f5;
            border: #f5f5f5;
            color: #dadada;

            a {
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.profile {
    width: 100%;
    max-height: 100%;
    // height: 100%;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: flex-start;
    align-self: baseline;
    gap: 10px;
    font-size: 18px;

    &__decision {
        // width: 50%;
        align-self: flex-end;
        margin: 10px 30px 0 0;
        display: flex;
        flex-direction: row;

        &-button {
            width: 100%;
            border-radius: 5px;
            padding: 7px 12px;
            font-size: 20px;
            color: white;
            margin: 0 10px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
            }
        }

        &-accept {
            background-color: #23a03c;
        }

        &-decline {
            background-color: #ce3939;
        }
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;

    &__body {
        min-height: 100%;
        min-width: 50%;
        display: flex;
        align-items: center;
        justify-self: center;
        padding: 30px 10px;
    }

    &__content {
        background-color: white;
        border: 1px solid #dadada;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1440px;
        width: 100%;
    }

    &__header {
        font-size: 20px;
        margin: 0 0 1em 0;
        position: relative;
        padding: 10px 0;
        border-bottom: 1px solid #dadada;
    }

    &__title {
        max-width: 95%;
        width: 100%;
        flex-wrap: wrap;
    }

    &__close {
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
        display: block;
        height: 30px;
        width: 30px;

        &::before,
        span {
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: black;
        }

        &::before {
            content: "";
            transform: rotate(45deg);
            top: 15px;
        }

        span {
            transform: rotate(-45deg);
            top: 15px;
        }
    }

    &__form {
        width: 100%;
        min-width: 50%;

        &-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__checker {
        width: 100%;
        display: flex;
        flex-direction: column;

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    &__search {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        margin: 10px 0px;
        border: 2px solid #dadada;
        border-radius: 5px;
        overflow: hidden;

        input {
            font-size: 20px;
            width: 100%;
            border: none;
            outline: none;
            padding: 10px;
        }

        button {
            font-size: 20px;
            padding: 3px 10px;
            background-color: #2f68d5;
            color: white;
            transition: 0.3s;
        }

        button:hover {
            background-color: #214994;
            box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
        }
    }

    &__user {
        &-list {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-height: 50vh;
            overflow-y: auto;
            box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.6);
        }

        &-item {
            width: 100%;
            height: 100%;
            padding: 10px;
            border: 1px solid #dadada;
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 18px;
        }
    }

    &__user-item:nth-child(even) {
        background-color: #ececec;
    }

    &__user-item:hover {
        border: 1px solid rgb(0, 0, 0);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    &__subtitle {
        font-size: 18px;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__item {
        list-style-type: circle;
        font-size: 16px;
        margin: 5px 0;
    }

    &__textarea {
        margin: 20px 0;
        min-width: 700px;
        width: 100%;

        textarea {
            width: 100%;
            height: 150px;
            padding: 10px;
            border-radius: 5px;
            background-color: #dadada;
            font-size: 16px;
            resize: none;
        }
    }

    &__send {
        align-self: flex-end;
        margin-top: 10px;

        button {
            width: 100%;
            border: 2px solid #2f68d5;
            border-radius: 5px;
            padding: 7px 12px;
            margin-right: 0;
            font-size: 20px;
            background-color: #2f68d5;
            color: white;
            cursor: pointer;
            transition: 0.3s;

            &:hover:not(.popup__send--disabled button) {
                box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
            }
        }

        &--disabled {
            background-color: #f5f5f5;
            border: #f5f5f5;
            color: #dadada;

            button {
                color: rgba(255, 255, 255, 0.5);

                &:hover {
                    box-shadow: none;
                }
            }
        }
    }

    &-nonvisible {
        display: none;
    }

    &__open {
        visibility: visible;
        opacity: 1;
    }
}
