.profile {
    &__header {
        display: flex;
        flex-direction: row;
        height: 10%;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    &__users {
        display: flex;
        flex-direction: column;
        gap: 7px;

        &_name {
            margin: 10px;
            font-size: 22px;
            font-weight: bold;
        }
    }

    &__select {
        position: relative;
        border: 1px solid #2f68d5;
        border-radius: 5px;
        background-color: #2f68d5;
    }

    &__selector {
        width: 100%;
        height: 100%;
        outline: none;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        background-color: #2f68d5;
        justify-content: center;
        cursor: pointer;
        color: white;

        option {
            color: white;
        }
    }

    &__selector:hover {
        background-color: #214994;
        cursor: pointer;
    }

    &__search {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        margin: 10px 0px;
        border: 2px solid #dadada;
        border-radius: 5px;
        overflow: hidden;

        input {
            font-size: 20px;
            width: 100%;
            border: none;
            outline: none;
            padding: 10px;
        }

        button {
            font-size: 20px;
            padding: 3px 10px;
            background-color: #2f68d5;
            color: white;
            transition: 0.3s;
        }

        button:hover {
            background-color: #214994;
            box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
        }
    }

    &__user {
        width: 100%;
        height: 100%;
        padding: 10px;
        border: 1px solid #dadada;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 18px;
        align-items: center;
        border-radius: 5px;

        &-name {
            h2 {
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;
                justify-content: center;
                width: 100%;
                text-wrap: nowrap;

                img {
                    height: 70px;
                    width: 70px;
                    border-radius: 5px;
                }
            }
        }

        &_list {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-height: 50vh;
            overflow-y: auto;
        }

        &-menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            li {
                list-style: none;
                width: 100%;
                display: flex;
                background-color: #2f68d5;
                border: 1px solid #2f68d5;
                border-radius: 5px;
                align-items: center;
                justify-content: center;
                text-wrap: nowrap;
            }

            li:hover {
                background-color: #214994;
                box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
            }
        }

        &-link {
            text-decoration: none;
            color: white;
            font-size: 18px;
            padding: 5px;
        }
    }

    &__user:nth-child(even) {
        background-color: #ececec;
    }

    &__user:hover {
        border: 1px solid rgb(0, 0, 0);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    &__menu-icon {
        display: block;
        height: 10px;
        width: 20px;
        cursor: pointer;
        position: relative;
        margin-top: 5px;

        &::before,
        &::after,
        span {
            content: "";
            width: 4px;
            height: 4px;
            background-color: #000;
            border-radius: 50%;
            display: block;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
        }

        &::after {
            position: absolute;
            top: 0;
            right: 0;
        }

        span {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
