@charset "UTF-8";
.profile__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.profile__create {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.profile__create-text {
  font-size: 18px;
}
.profile__create-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #2f68d5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.profile__create-button:hover {
  -webkit-box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
          box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
}
.profile__application-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-radius: 5px;
  max-height: 50vh;
  overflow-y: auto;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.profile__application-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dadada;
}
.profile__application-item:nth-child(even) {
  background-color: #ececec;
}
.profile__application-item:hover {
  border: 1px solid rgb(0, 0, 0);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.profile__application-item-text {
  font-size: 16px;
  color: #333;
}
.profile__application-info {
  max-width: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.profile__application-link {
  text-decoration: none;
  color: #fff;
  padding: 7px;
  background-color: #2f68d5;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.profile__application-link:hover {
  -webkit-box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
          box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
}
.profile__application-date {
  font-size: 18px;
  color: #fff;
  background-color: #2f68d5;
  padding: 7px;
  border-radius: 5px;
}
.profile__application-solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile__application-button {
  padding: 7px;
  background-color: #2f68d5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}
.profile__application-button:hover {
  -webkit-box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
          box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
}
.profile__application-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.profile__application--aproved {
  padding: 7px;
  margin: 0 10px;
  background-color: #23a03c;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}
.profile__application--waiting {
  background-color: #f5d999;
  padding: 7px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 16px;
}
.profile__application--decline {
  padding: 7px;
  margin: 0 10px;
  background-color: #ce3939;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}
.profile__save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.profile__save button {
  margin: 10px;
  padding: 5px 10px;
  background-color: #2f68d5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.profile__save button:hover {
  -webkit-box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
          box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
}
.profile__body {
  width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: 18px;
  padding: 7px;
  overflow: auto;
  max-height: 100%;
}
.profile__form {
  height: 100%;
  margin: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
.profile__selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border: 1px solid #dadada;
  background-color: white;
  font-size: 14px;
}
.profile__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #dadada;
  font-size: 14px;
}
.profile__column input {
  max-width: 50%;
  max-width: 200px;
  width: 100%;
  border: 2px solid #dadada;
  border-radius: 5px;
  padding: 5px 7px;
  font-size: 14px;
  outline: none;
  margin: 0 10px;
}
.profile__scan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.profile__scan label {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.profile__scan--input {
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #dadada;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  max-width: 1000px;
  max-height: 500px;
  width: auto;
  -webkit-transition: height 0.3s;
  transition: height 0.3s; /* Плавное изменение высоты */
  overflow: hidden; /* Чтобы скрыть изображения, если они выходят за границы */
}
.profile__scan--input input {
  max-width: 100%;
  width: 100%;
  border: 2px solid #dadada;
  border-radius: 5px;
  padding: 5px 7px;
  font-size: 16px;
  outline: none;
  margin: 0 10px;
}
.profile__scan--input div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.profile__scan--input div img {
  max-width: 300px;
  max-height: 300px;
}
.profile__placeholder {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile__textarea {
  max-width: 50%;
  width: 100%;
  border: 2px solid #dadada;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  outline: none;
  margin: 0 10px;
}
.profile__textarea-auto_expand {
  overflow: hidden;
  resize: none;
  max-width: 50%;
  width: 100%;
}
.profile__placeholder {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile__save {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 10px 30px 0 0;
}
.profile__save-button {
  width: 100%;
  border: 2px solid #2f68d5;
  border-radius: 5px;
  padding: 7px 12px;
  font-size: 20px;
  background-color: #2f68d5;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.profile__save-button:hover {
  -webkit-box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
          box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
}
.profile__agree-button {
  width: 100%;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 20px;
  background-color: #23a03c;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.profile__agree-button:hover {
  background-color: #1c8231;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.profile__confirm {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.profile__confirm input {
  scale: 1.5;
}
.profile__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}