.profile__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.profile__header-select_all {
  font-size: 16px;
  background-color: #2f68d5;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}
.profile__header-select_all:hover {
  background-color: #214994;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
          box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
}
.profile__exams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profile__exams_name {
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
}
.profile__params {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.profile__params-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100%;
  padding: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.profile__params-label {
  display: inline;
  white-space: nowrap;
}
.profile__params-input {
  max-width: 200px;
  width: 100%;
  border: 2px solid #dadada;
  border-radius: 5px;
  padding: 5px 7px;
  font-size: 16px;
  outline: none;
  margin: 0 10px;
}
.profile__params-popup {
  background-color: #2f68d5;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}
.profile__params-link {
  width: 100%;
  height: 100%;
  color: #fff;
}
.profile__params-examiner_selection {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.profile__params-examiner_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
  position: relative;
  height: 100%;
  max-width: 350px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile__params-examiner_input {
  width: 100%;
  border: 2px solid #dadada;
  border-radius: 5px;
  padding: 5px 7px;
  font-size: 16px;
  outline: none;
  margin: 0 10px;
}
.profile__params-examiner_tag {
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}
.profile__params-examiner_tag button {
  background: none;
  border: none;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}
.profile__params-suggestions {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background: #dadada;
  border: 1px solid #dadada;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}
.profile__params-suggestion {
  padding: 5px;
  cursor: pointer;
}
.profile__params-suggection:hover {
  background: #f0f0f0;
}
.profile__params-selected_examiners {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.profile__user {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #dadada;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}
.profile__user_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
  -webkit-box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.6);
}
.profile__search {
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin: 10px 0px;
  border: 2px solid #dadada;
  border-radius: 5px;
  overflow: hidden;
}
.profile__search input {
  font-size: 20px;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
}
.profile__search button {
  font-size: 20px;
  padding: 3px 10px;
  background-color: #2f68d5;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.profile__search button:hover {
  background-color: #214994;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
          box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
}
.profile__exam {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #dadada;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}
.profile__exam_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
  -webkit-box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.6);
}
.profile__exam-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 15px;
  display: none;
  min-width: 211px;
  z-index: 100;
}
.profile__exam-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 5px;
}
.profile__exam-create {
  background-color: #2f68d5;
  border-radius: 5px;
  padding: 10px;
}
.profile__exam-create a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.profile__exam-create:hover {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.profile__exam:nth-child(even) {
  background-color: #ececec;
}
.profile__exam:hover {
  border: 1px solid rgb(0, 0, 0);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.profile__user:nth-child(even) {
  background-color: #ececec;
}
.profile__user:hover {
  border: 1px solid rgb(0, 0, 0);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.profile__menu-icon {
  display: block;
  height: 20px;
  width: 20px;
  cursor: pointer;
  position: relative;
  margin-top: 5px;
}
.profile__menu-icon::before, .profile__menu-icon::after {
  content: "";
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 4px;
  background-color: #23a03c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.profile__menu-icon::before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg); /* Vertical line */
}
.profile__menu-icon::after {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); /* Horizontal line */
}
.profile__menu-icon.active::before, .profile__menu-icon.active::after {
  /* Minus sign */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ce3939;
}