.profile {
    form {
        height: 100%;
        padding: 7px;
        overflow: auto;
        width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
    }

    &__selector {
        display: flex;
        flex-direction: column;
        gap: 7px;
        height: 100%;

        &-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px;
        }

        &-name {
            margin: 10px 0;
            font-size: 18px;
            font-weight: bold;

            &--new {
                &-input {
                    border: 1px solid #dadada;
                    border-radius: 5px;
                    height: 100%;
                    width: 100%;
                    outline: none;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 5px;
                }
            }
        }

        &--delete-button {
            width: 7%;
            border: 2px solid #ce3939;
            border-radius: 5px;
            padding: 7px 0;
            font-size: 14px;
            background-color: #ce3939;
            color: white;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
            }
        }
    }

    &__form {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;
    }

    &__row:first-child {
        .profile__column {
            width: fit-content;
            object-fit: fill;
            input {
                &[id="passport_serial"] {
                    width: 60px; /* Под 4 цифры */
                }
                &[id="passport_num"] {
                    width: 100px; /* Под 6 цифр */
                }
                &[id="unit_code"] {
                    width: 80px; /* Под формат 123-456 */
                }
                &[id="snils_num"] {
                    width: 130px; /* Под СНИЛС (XXX-XXX-XXX XX) */
                }
                &[id="diplom_num"] {
                    width: 160px; /* Если номер диплома длинный */
                }
            }
        }
    }

    &__column {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        flex: content;

        input {
            max-width: 50%;
        }
    }

    &__placeholder {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0px 5px;
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;

        label {
            // display: inline;
            // white-space: nowrap;
        }
    }

    &__textarea {
        max-width: 50%;
        width: 100%;
        border: 2px solid #dadada;
        border-radius: 5px;
        padding: 5px;
        font-size: 14px;
        outline: none;
        margin: 0 10px;

        &-auto_expand {
            overflow: hidden;
            resize: none;
            max-width: 50%;
            width: 100%;
        }
    }

    &__filler {
        @extend .profile__placeholder;
        justify-content: flex-start;

        label {
            font-size: 14px;
        }

        input {
            max-width: 200px;
            width: 100%;
            border: 2px solid #dadada;
            border-radius: 5px;
            padding: 5px 7px;
            font-size: 16px;
            outline: none;
            margin: 0 10px;
        }
    }

    &__scan {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0px 5px;
        transition: height 0.3s;

        label {
            align-self: flex-start;
        }

        &--input {
            margin: 10px;
            display: inline-block;
            cursor: pointer;
            border: 2px solid #dadada;
            border-radius: 5px;
            padding: 10px;
            text-align: center;
            max-width: 1000px;
            max-height: 500px;
            width: auto;
            transition: height 0.3s; /* Плавное изменение высоты */
            overflow: hidden; /* Чтобы скрыть изображения, если они выходят за границы */

            input {
                max-width: 100%;
                width: 100%;
                border: 2px solid #dadada;
                border-radius: 5px;
                padding: 5px 7px;
                font-size: 16px;
                outline: none;
                margin: 0 10px;
            }

            div {
                display: flex;
                // flex-direction: column;
                gap: 10px;
                flex-wrap: wrap;

                img {
                    max-width: 300px;
                    max-height: 300px;
                    // border: 1px solid #000000;
                }
            }
        }
    }

    &__input {
        max-width: 200px;
        width: 100%;
        border: 2px solid #dadada;
        border-radius: 5px;
        padding: 5px 7px;
        font-size: 16px;
        outline: none;
        margin: 0 10px;

        &[id="passport_serial"] {
            width: 80px; /* Под 4 цифры */
        }
        &[id="passport_num"] {
            width: 120px; /* Под 6 цифр */
        }
        &[id="unit_code"] {
            width: 150px; /* Под формат 123-456 */
        }
        &[id="snils_num"] {
            width: 160px; /* Под СНИЛС (XXX-XXX-XXX XX) */
        }
        &[id="diplom_num"] {
            width: 160px; /* Если номер диплома длинный */
        }

        &-auto_expand {
            overflow: hidden;
            resize: none;
            max-width: 500px;
            width: 100%;
        }
    }

    &__label {
        font-size: 14px;
    }

    &__save {
        align-self: flex-end;
        margin: 10px 30px 0 0;

        &-button {
            width: 100%;
            border: 2px solid #2f68d5;
            border-radius: 5px;
            padding: 7px 12px;
            font-size: 20px;
            background-color: #2f68d5;
            color: white;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
            }
        }
    }

    &__add {
        align-self: flex-start;
        margin: 10px 0;

        &-placeholder {
            width: 100%;
            border: 2px solid #2f68d5;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 25px;
            background-color: #2f68d5;
            color: white;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
            }
        }
    }
}
