.profile {
    &__body {
        width: 100%;
        max-height: 100%;
        display: flex;
        flex: 4;
        flex-direction: row;
        // justify-content: flex-start;
        // align-self: baseline;
        gap: 10px;
        font-size: 18px;
    }

    &__header {
        position: relative;
        min-height: 100px;
        min-width: 75px;
        height: 100%;
        margin: 0 15px;
        border: 1px solid black;
        width: auto;
        cursor: pointer;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 3/4;
        }
    }

    &__form {
        height: 100%;
        margin: 0px 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__table {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 5px;
        justify-content: center;
        border-bottom: 1px solid #dadada;
    }

    &__column {
        display: flex;
        width: 33.3333%;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #dadada;
    }

    &__column:first-child {
        justify-content: space-between;
    }

    &__label {
        font-size: 14px;
        font-weight: bold;
        // min-width: 120px;
        // text-wrap: nowrap;
    }

    &__input {
        width: 100%;
        border: 2px solid #dadada;
        border-radius: 5px;
        padding: 5px;
        font-size: 14px;
        outline: none;
        margin: 10px;
    }

    &__filler {
        display: flex;
        flex-direction: row;
        width: 100%;

        &-column {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin: 0 10px;

            input {
                max-width: 50%;
                margin: 5px;
            }
        }
    }

    &__filler:last-child {
        justify-content: space-around;
        width: 100%;

        .profile__filler-column {
            width: 100%;
        }

        .profile__filler-column input {
            max-width: 60%;
        }
    }

    &__radio {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &-button {
            font-size: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__save {
        align-self: flex-end;
        margin: 10px 30px 0 0;

        &-button {
            width: 100%;
            border: 2px solid #2f68d5;
            border-radius: 5px;
            padding: 7px 12px;
            font-size: 20px;
            background-color: #2f68d5;
            color: white;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
            }
        }
    }

    &__scan {
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        transition: height 0.3s;

        &--input {
            display: inline-block;
            cursor: pointer;
            border: 2px solid #dadada;
            border-radius: 5px;
            text-align: center;
            width: 150px;
            height: 200px;
            transition: height 0.3s; /* Плавное изменение высоты */
            overflow: hidden; /* Чтобы скрыть изображения, если они выходят за границы */

            input {
                max-width: 100%;
                width: 100%;
                border: 2px solid #dadada;
                border-radius: 5px;
                font-size: 16px;
                outline: none;
            }

            div {
                display: flex;
                flex-wrap: wrap;

                img {
                    max-width: 300px;
                    max-height: 400px;
                }
            }
        }
    }
}

.img-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    cursor: pointer;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
