<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../style/style.css">
    <link rel="stylesheet" href="../../style/admin/global.css">
    <link rel="stylesheet" href="../../style/admin/main_page.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <a class="header__logo" href="/">
                    <img class="header__logo-img" src="../../pictures/logo.svg" alt="Logo" />
                    <div class="header__logo-text__container">
                        <h2 class="header__logo-text">Аттестация переводчиков русского жестового языка</h2>
                    </div>
                </a>
                <input type="checkbox" id="menu-toggle" class="header__menu-toggle">
                <label for="menu-toggle" class="header__menu-icon">
                    <span></span>
                </label>
            </div>
        </header>

        <main class="main main--admin">
            <!-- <h1>Добро пожаловать, {name}!</h1> -->
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__selector">
                        <a href="/admin/user/list" class="menu__selector-button">
                            <img src="../../pictures/Group_add_light.svg" alt="">
                            <h2>Пользователи</h2>
                        </a>
                    </li>
                    <li class="menu__selector">
                        <a href="/admin/exam/list" class="menu__selector-button">
                            <img src="../../pictures/Roll_alt_light_light.svg" alt="">
                            <h2>Экзамены</h2>
                        </a>
                    </li>
                    <li class="menu__selector">
                        <a href="/admin/exam/students" class="menu__selector-button">
                            <img src="../../pictures/Roll_alt_light_light.svg" alt="">
                            <h2>Заявки на экзамены</h2>
                        </a>
                    </li>
                    <li class="menu__selector">
                        <a href="" class="menu__selector-button">
                            <img src="../../pictures/Layers_light.svg" alt="">
                            <h2>Шаблоны</h2>
                        </a>
                    </li>
                    <li class="menu__selector">
                        <a href="" class="menu__selector-button">
                            <img src="../../pictures/File_dock_light.svg" alt="">
                            <h2>Документы</h2>
                        </a>
                    </li>
                    <li class="menu__selector">
                        <a href="" class="menu__selector-button">
                            <img src="../../pictures/File_dock_search_light.svg" alt="">
                            <h2>Протоколы</h2>
                        </a>
                    </li>
                    <!-- <li class="menu__selector_button">
                            <a href="">
                                <img src="" alt="">
                                <h2>Словарик</h2>
                            </a>
                        </li> -->
                </ul>
            </nav>
        </main>

        <footer>

        </footer>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../../scripts/admin_script.js"></script>
</html>