.profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profile__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.profile__application-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow-y: auto;
  border-radius: 5px;
}
.profile__application-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.profile__application-item:hover {
  border: 1px solid rgb(0, 0, 0);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.profile__application-item:nth-child(even) {
  background-color: #ececec;
}
.profile__application-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.profile__application-avatar {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}
.profile__application-avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.profile__application-name {
  font-size: 1.2rem;
  font-weight: 500;
}
.profile__application-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.profile__application-buttons a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  background-color: #2f68d5;
  color: #fff;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.profile__application-buttons a:hover {
  background-color: #214994;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
          box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
}