@charset "UTF-8";
.main {
  max-height: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  margin-top: 0;
}

.exam__window {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.exam__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.exam__header h2 {
  font-size: 25px;
  font-weight: bolder;
}
.exam__body {
  width: 100%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  gap: 10px;
}
.exam__body-center_text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  font-weight: bold;
}
.exam__speach-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px;
}
.exam__speach-container h1 {
  font-size: 18px;
  color: #214994;
  font-weight: bold;
}
.exam__speach-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid #dadada;
  border-radius: 5px;
}
.exam__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}
.exam__start-button {
  background-color: #2f68d5;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin: 0px 10px;
  font-size: 18px;
}
.exam__start-button:hover {
  background-color: #214994;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
          box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
}
.exam__list {
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.exam__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.exam__item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
}
.exam__item-name img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #2f68d5;
}
.exam__item-name h2 {
  font-size: 16px;
  margin: 0 10px;
}
.exam__item:nth-child(even) {
  background-color: #ececec;
}
.exam__item:hover {
  border: 1px solid rgb(0, 0, 0);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.exam__discuss {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}
.exam__discuss-button {
  background-color: #2f68d5;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin: 0px 10px;
  font-size: 18px;
}
.exam__discuss-button:hover {
  background-color: #214994;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
          box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
}
.exam__protocol {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.exam__protocol-column {
  position: relative;
  height: 100%;
  padding: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.exam__protocol-column label {
  display: inline;
  white-space: nowrap;
  font-size: 18px;
  color: #214994;
}
.exam__protocol-column input {
  max-width: 200px;
  width: 100%;
  border: 2px solid #dadada;
  border-radius: 5px;
  padding: 5px 7px;
  font-size: 16px;
  outline: none;
  margin: 0 10px;
}
.exam__protocol-column input[id=protocol_num] {
  width: 120px;
}
.exam__protocol-column input[id=protocol_num]::-webkit-inner-spin-button, .exam__protocol-column input[id=protocol_num]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.exam__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.exam__person-img {
  position: relative;
  min-height: 100px;
  min-width: 75px;
  height: 100%;
  border: 1px solid black;
  width: auto;
}
.exam__person-img img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/4;
}
.exam__person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
  width: 100%;
  gap: 10px;
}
.exam__person-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.exam__person-placeholder label {
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline;
  white-space: nowrap;
}
.exam__person-placeholder input {
  max-width: 700px;
  width: 100%;
  background-color: #ececec;
  font-size: 16px;
  outline: none;
  margin: 0 10px;
}
.exam__person-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.exam__person-result input {
  max-width: 40px;
  width: 100%;
  font-size: 18px;
  margin: 0 10px;
  text-align: center;
  font-weight: bold;
}
.exam__question {
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.exam__question-table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.exam__question-row {
  width: 100%;
}
.exam__question-row td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.exam__question-row td input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.exam__question-marks {
  min-width: 30px;
  min-height: 60px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.exam__question-text {
  font-weight: bold;
}
.exam__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.exam__buttons-abstain {
  border-radius: 5px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 10px;
  font-size: 18px;
}
.exam__buttons-abstain input {
  scale: 1.5;
}
.exam__buttons-subscribe {
  background-color: #2f68d5;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin: 0px 10px;
  font-size: 18px;
}
.exam__buttons-subscribe:hover {
  background-color: #214994;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
          box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
}
.exam__recomendation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.exam__recomendation h2 {
  font-size: 16px;
}
.exam__textarea {
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  outline: none;
  margin: 0 10px;
}
.exam__textarea-auto_expand {
  overflow: hidden;
  resize: none;
  width: 100%;
}
.exam__solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 10px;
}
.exam__solution h1 {
  margin: 0 auto;
  font-size: 16px;
  color: #214994;
  font-weight: bold;
}
.exam__solution-qualification, .exam__solution-specialization {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.exam__solution-qualification h2, .exam__solution-specialization h2 {
  font-size: 16px;
  display: inline;
  white-space: nowrap;
}
.exam__solution-qualification select, .exam__solution-specialization select {
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.exam__progress-bar-container {
  position: relative;
  min-width: 30%;
  background: #ddd;
  border-radius: 5px;
  overflow: visible;
  height: 26px;
  cursor: pointer;
}
.exam__progress-bar-fill {
  background: -webkit-gradient(linear, left top, right top, from(#4caf50), to(#81c784));
  background: linear-gradient(90deg, #4caf50, #81c784);
  height: 100%;
  width: 100%;
  -webkit-transition: width 0.8s ease, background 0.5s ease;
  transition: width 0.8s ease, background 0.5s ease;
  border-radius: 5px;
}
.exam__progress-bar__completed {
  background-color: #81c784;
}

/* Стилизация таблицы в тултипе */
.tooltip {
  display: none;
  position: fixed;
  width: auto;
  min-width: 300px;
  max-width: 400px;
  background-color: white;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  padding: 10px;
}
.tooltip table {
  width: 100%;
  border-collapse: collapse;
}
.tooltip th, .tooltip td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ececec;
}
.tooltip th {
  background-color: #dadada;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}
.popup__body {
  min-height: 100%;
  min-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: white;
  border: 1px solid #dadada;
  border-radius: 5px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  width: 100%;
}
.popup__header {
  font-size: 20px;
  margin: 0 0 1em 0;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #dadada;
}
.popup__title {
  max-width: 95%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.popup__close {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  display: block;
  height: 30px;
  width: 30px;
}
.popup__close::before,
.popup__close span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
}
.popup__close::before {
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 15px;
}
.popup__close span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 15px;
}
.popup__form {
  width: 100%;
  min-width: 50%;
}
.popup__form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup__examiner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
}
.popup__examiner-item {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #dadada;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}
.popup__examiner-item:nth-child(even) {
  background-color: #ececec;
}
.popup__examiner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup__examiner-avatar {
  padding: 5px;
  border-radius: 5px;
}
.popup__examiner-avatar img {
  height: 70px;
  width: 70px;
}
.popup__examiner-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.popup__examiner-role {
  background-color: #23a03c;
  padding: 7px;
  border-radius: 5px;
  color: white;
}
.popup__examiner-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px;
  border-radius: 5px;
  color: white;
}
.popup__examiner-status--online {
  background-color: #23a03c;
}
.popup__examiner-status--offline {
  background-color: #ce3939;
}
.popup__start {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup__start button {
  border: 2px solid #2f68d5;
  border-radius: 5px;
  padding: 7px 12px;
  margin-right: 0;
  font-size: 20px;
  background-color: #2f68d5;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.popup__start button:hover:not(.popup__send--disabled button) {
  -webkit-box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
          box-shadow: 0px 0px 4px 4px rgba(15, 36, 77, 0.6);
}
.popup__start--disabled {
  background-color: #f5f5f5;
  border: #f5f5f5;
  color: #dadada;
}
.popup__start--disabled button {
  color: rgba(255, 255, 255, 0.5);
}
.popup__start--disabled button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.popup-nonvisible {
  display: none;
}
.popup__open {
  visibility: visible;
  opacity: 1;
}


.tooltip {
  display: none;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.exam__progress-bar-fill {
  background: #ddd; /* Серый цвет для пустого прогресса */
  height: 100%;
  transition: width 0.8s ease, background 0.5s ease;
  border-radius: 5px;
}
.exam__progress-bar-fill.active {
  background: linear-gradient(90deg, #4caf50, #81c784); /* Зеленый цвет для активного прогресса */
}
.exam__progress-bar-fill.warning {
  background: linear-gradient(90deg, #ff9800, #ffc107); /* Желтый цвет для среднего прогресса */
}
.exam__progress-bar-fill.danger {
  background: linear-gradient(90deg, #f44336, #e57373); /* Красный цвет для низкого прогресса */
}

.exam__information-text{
  margin: 10px;

  h2 {
    font-size: 16px;
    font-weight: bold;
    color: #ce3939;
  }
}

.exam__radio-label {
  background: #f0f0f0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.exam__radio-label.active {
  background-color: #2f68d5;
  color: #fff;
}
