.menu {
  max-width: 1440px;
  width: 100%;
  height: 100%;
}
.menu__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: #dadada;
  border-radius: 5px;
}
.menu__selector-button {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__selector-button img {
  width: 120px;
  height: 120px;
}
.menu__selector:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}